
/* Fonts
*/
@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 400;
	src: url('../fonts/HelveticaNeueLTStdRoman.eot');
	src: url('../fonts/HelveticaNeueLTStdRoman.eot') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueLTStdRoman.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStdRoman.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStdRoman.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueLTStdRoman.svg#HelveticaNeueLTStdRoman') format('svg');
}
@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 600;
	src: url('../fonts/HelveticaNeueLTStdMd.eot');
	src: url('../fonts/HelveticaNeueLTStdMd.eot') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueLTStdMd.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStdMd.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStdMd.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueLTStdMd.svg#HelveticaNeueLTStdMd') format('svg');
}
@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 300;
	src: url('../fonts/HelveticaNeueLTStdLt.eot');
	src: url('../fonts/HelveticaNeueLTStdLt.eot') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueLTStdLt.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStdLt.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStdLt.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueLTStdLt.svg#HelveticaNeueLTStdLt') format('svg');
}
@font-face {
	font-family: 'HelveticaNeue';
	font-weight: 800;
	src: url('../fonts/HelveticaNeueLTStdBd.eot');
	src: url('../fonts/HelveticaNeueLTStdBd.eot') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueLTStdBd.woff2') format('woff2'),
		 url('../fonts/HelveticaNeueLTStdBd.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStdBd.ttf') format('truetype'),
		 url('../fonts/HelveticaNeueLTStdBd.svg#HelveticaNeueLTStdBd') format('svg');
}


*{
	box-sizing: border-box;
}
body{
	font-family: 'HelveticaNeue', Helvetica, sans-serif;
}

a{
	color: #de268f;
	text-decoration: underline;
	text-decoration-style: dotted;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

h1{
	font-size: 40px; 
}

h2 {
	font-size: 36px;
}
p{
	margin: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.tac{text-align: center;}
.white{color: #fff !important;}
/*.row{display: flex; }*/
/*.col {flex: 1; }*/

.bg-black {
	background-color: #000;
	color:#fff;
}
.block-img {
	display: block;
	width: 100%;
}


/*.bg-black p{
	margin-top: 30px;
}
*/

.container {
	width: 60%;
	margin: 0 auto;
}

/* Navbar
--------------------------------------------------------------------
*/

/*TODO: change this*/
.hidden{
	display: none;
}
.main-nav {
	color: white;
	position: absolute;
	right: 40px;
	top: 40px;
	z-index: 100;
}
.main-nav .nav-icon{
	width: 30px;
	display: block;
}
.main-nav .nav-links {
	margin-top: 20px;
}
.main-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: right;
}
.main-nav ul li{
	margin-bottom: 15px;
}
.main-nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-weight: 300;
}
.main-nav ul li a:hover{
	color: #de268f;
}
.main-nav .nav-icon img{
	display: block;
	width: 100%;
}

@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}
.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}
/* Home
--------------------------------------------------------------------
*/

section {
	padding: 8% 0;
}
section h2{
	margin-bottom: 40px;
}
section p{
	font-weight: 300;
}
/* SECTION 1 
--------------------------------------
*/
/*.container {
	display: flex;
	width: 100%;
}
*/
.img-bg {
	background-image: url("../img/mainbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

section.one {
	background-image: url("../img/mainbg.jpg");
	background-position: center -100px;
	height: 100vh;
	padding: 15% 2%;
}
.logo {
	width: 100%;
	/*width: 40%;*/
	display: block;
	/*margin: 0 auto;*/
}
section.one .content {
	width: 600px;
	margin: 0 auto;
}
section.one .row {
	margin-bottom: 40px;
	width: 100%;
	display: block;
}
section.one .tagline {
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 2px;
}
.fade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .7;
	z-index: 0;
}
.fade-bb {
	left: 0;
	background-color: black;
}
.fade-bp {
	right: 0;
	background-color: #7F0052;
}
.has-overlay .content {
	position: relative;
	z-index: 10;
}

/* Countdown
--------------------------------------
*/
.main-countdown {
	padding: 0;
	margin: 60px 0;
}
.main-countdown ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-countdown li {
	display: inline-block;
	margin: 0 15px;
	position: relative;
	font-size: 5rem;
	font-weight: 300;
	line-height: 50%;
}
.main-countdown li.colon::after {
	content: ':';
	color: #de268f;
	position: absolute;
	font-size: 5rem;
	top: -3px;
	right: -15px;
}
.main-countdown span {
	/*display: block;*/
	font-size: 20px;
	font-weight: 400;
}

/* SECTION 2
--------------------------------------
*/

section.two {
	padding: 10% 0;
}
section.two p {
	font-size: 24px;
	line-height: 180%;
}

/* SECTION 3
--------------------------------------
*/

section.three {
	padding: 0;
}
section.three h2 {
	margin: 0;
	font-weight: 300;
	font-size: 6rem;
}
section.three h2 span {
	font-size: 2rem;
}
section.home.three .block {
	padding: 16% 12%;
	cursor: pointer;
}
section.home.three .block .fade{
	transition: opacity 300ms;
}
section.home.three .block:hover .fade{
	opacity: .5;
}
section.home.three #block-1{
	text-align: left;
}
section.home.three #block-2{
	text-align: right;
}
section.home.three #block-1 h2{
	line-height: 90%;
}
section.home.three #block-2 h2{
	line-height: 50%;
	position: relative;
	left: -15%;
	top: 60px;
}
/*.block-title {
	z-index: 10;
	text-align: center;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

.block-title h2{
	font-size: 25px;
	font-weight: 300;
	color: gray;
}

.block-title h1{
	font-size: 60px;
	color: white;
	font-weight: 300;
}
*/

/* Events
--------------------------------------------------------------------
*/


.event-list {
	height: 80vh;
	padding: 0 !important;
}
.event-list > .row{
	height: 50%;
	margin: 0 !important;
	width: 100%;
}

/* EventsNavbar
--------------------------------------
*/

.navbar-events{
	background-color: black;
	height: 20vh;
	width: 100%;
	padding: 0 4%;
}
.navbar-events .content{
	padding: 5% 0;
}
.navbar {
	padding: 5% 2%;
}
.navbar-logo{
	height: 40px;
	float: right;
	display: block;
	position: relative;
	top: -12px;
}
.back-button{
	float: left;
	color: gray;
	font-size: 20px;
	text-decoration: none;
	display: block;
}

.back-button:hover{
	color: #de268f;
}


/* Blocks
--------------------------------------
*/

.block-m {
	background-image: url("../img/mainbg.jpg");	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1;
	flex-wrap: wrap;
	text-align: left;
	position: relative;
	padding: 40px;
	cursor: pointer;
}

.block-content {
	position: relative;
	z-index: 10;
	color: #fff;
}
.block-content .row.first {
	margin-bottom: 20px;
}

.fade-m{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .7;
	position: absolute;
	z-index: 1;
	background-color: black;
	transition: background-color 200ms;
}
.block-content p{
	font-size: 20px;
	font-weight: 300;
}

.event-title {
	font-weight: 800;
	font-size: 2rem;
}

.block-content .number{
	font-size: 3rem;
	font-weight: 800;
	position: relative;
}
.block-content .row.first .col-md-1,
.block-content .row.first .col-md-2 {
	padding-left: 0;
}
.event-description {
/*	width: 80%;
	color: white;
*/	line-height: 1.8rem;
}



.block-m:hover .fade-m{
	/*background-color: #7F0052;*/
	background-color: #de268f;
}


/* EventsFooter
--------------------------------------
*/

.brands {
	padding: 3% 5%;
}
.brands img{
	display: block;
	width: 40%;
}

/* Foro de Candidatos
--------------------------------------------------------------------
*/
.foro .content {
	min-height: 80vh;
	color: white;
}
.foro .fade-bp {
	background-color: #de268f;
}
.foro h1{
	font-weight: 300;
	font-size: 3.5rem;
	margin-bottom: 40px;
}
.foro .right{
	padding-left: 4%;
}
.foro .container-small{
	/*width: 90%;*/
	padding: 5% 3%;
	/*margin: 0 auto;*/
}
.foro .date {
	font-size: 2.2rem;
	text-align: center;
	font-weight: 600;
	line-height: 5rem;
	margin-bottom: 40px;
	
}
.foro .right p.desc{
	font-size: 20px;
	line-height: 160%;
	font-weight: 300;
	width: 80%;
}
.foro .date span.number{
	font-size: 8rem;
	font-weight: 800;
	display: block;
}
.foro section.candidatos{
	width: 80%;
}
.foro .circleimg {
	border-radius: 50%;
	display: block; 
	object-fit: cover;
	width: 180px;
	height: 180px;
	border: 6px solid #fff;
	margin: 0 auto;
	margin-bottom: 30px;
}
.candidatos .candidato .name{
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}
/*.foro section.candidatos .row{
	margin-bottom: 60px;
}
*/
.pink-button{
	margin-top: 50px;
	margin: auto;
	background-color: #de268f;
	border:none;
	width: 200px;
	height: 50px;
	color: white;
	font-size: 20px;
	display: block;
	padding-top:15px;
	text-decoration: none;
}

.logo-reto{
	width: 80%;	
	margin-bottom: 50px;
}

.reto{
	text-align: center;
	display: block;
	padding-top: 60px;
}
.foro .btn.bg-black.questionbtn{
	text-decoration: none;
	font-size: 1.3rem;
	font-weight: 300;
	padding: 15px;
	margin-top: 40px;
	display: block;
	text-align: center;
	transition: all 300ms;
}
.foro .btn.bg-black.questionbtn:hover{
	/*background-color: #e13c9a;*/
	background-color: #fff;
	color: #000;
}
.sendquestion {
	width: 80%;
	padding-top: 0;
	margin-top: 3%;
}
.sendquestion h2{
	font-weight: 300;
}
.question-form label,
.question-form textarea,
.question-form input {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	border: 0 none;
}
.question-form label small{
	font-size: .9rem;
}
.question-form label{
	font-size: 1.4rem;
	font-weight: 300;
	margin-bottom: 10px;
}
.question-form textarea{
	height: 100px;
	font-size: 1.5rem;
	padding: 10px;
	resize: none;
	margin-bottom: 40px;
}
.question-form #category {
	width: 100%;
	display: block;
	font-size: 1.2rem;
	padding: 10px;
	margin-bottom: 20px;
}
.question-form textarea,
.question-form select,
.question-form input[type="text"]{
	background: rgba(255,255,255,.6);
	border: 0 none;
}
.question-form input[type="text"]{
	height: 40px;
	padding: 8px 10px;
}
.question-form .submit.btn{
	height: 60px;
	border: 0 none;
	cursor: pointer;
	font-size: 1.2rem;
	font-weight: 300;
	transition: all 300ms;
}
.question-form .submit.btn:hover{
	background-color: #fff;
	color: #000;
}


