*{
	box-sizing: border-box;
}
body{
	font-family: 'Helvetica', sans-serif;
}


h1, h2, h3, h4, h5, h6{
	margin: 0;
}

h1{
	font-size: 40px; 
}

h2 {
	font-size: 36px;
}
p{
	margin: 0;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
.tac{text-align: center;}
.white{color: #fff !important;}
/*.row{display: flex; }*/
/*.col {flex: 1; }*/

.bg-black {
	background-color: #000;
	color:#fff;
}
.block-img {
	display: block;
	width: 100%;
}


/*.bg-black p{
	margin-top: 30px;
}
*/

.container {
	width: 60%;
	margin: 0 auto;
}

/* Navbar
--------------------------------------------------------------------
*/

/*TODO: change this*/
.main-nav {
	color: white;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}
/* Home
--------------------------------------------------------------------
*/

section {
	padding: 8% 0;
}
section h2{
	margin-bottom: 40px;
}
section p{
	font-weight: 300;
}
/* SECTION 1 
--------------------------------------
*/
/*.container {
	display: flex;
	width: 100%;
}
*/
.img-bg {
	background-image: url("../img/mainbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	position: relative;
}

section.one {
	background-image: url("../img/mainbg.jpg");
	background-position: center -100px;
	height: 100vh;
	padding: 15% 2%;
}
.logo {
	width: 100%;
	/*width: 40%;*/
	display: block;
	/*margin: 0 auto;*/
}
section.one .content {
	width: 600px;
	margin: 0 auto;
}
section.one .row {
	margin-bottom: 40px;
	width: 100%;
	display: block;
}
section.one .tagline {
	font-weight: 300;
	font-size: 28px;
	letter-spacing: 2px;
}
.fade {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: .7;
	z-index: 0;
}
.fade-bb {
	left: 0;
	background-color: black;
}
.fade-bp {
	right: 0;
	background-color: #7F0052;
}
.has-overlay .content {
	position: relative;
	z-index: 10;
}

/* SECTION 2
--------------------------------------
*/

section.two {
	padding: 10% 0;
}
section.two p {
	font-size: 24px;
	line-height: 180%;
}

/* SECTION 3
--------------------------------------
*/

section.three {
	padding: 0;
}
section.three h2 {
	margin: 0;
	font-weight: 300;
	font-size: 6rem;
}
section.three h2 span {
	font-size: 2rem;
}
section.home.three .block {
	padding: 16% 12%;
	cursor: pointer;
}
section.home.three .block .fade{
	transition: opacity 300ms;
}
section.home.three .block:hover .fade{
	opacity: .5;
}
section.home.three #block-1{
	text-align: left;
}
section.home.three #block-2{
	text-align: right;
}
section.home.three #block-1 h2{
	line-height: 90%;
}
section.home.three #block-2 h2{
	line-height: 50%;
	position: relative;
	left: -15%;
	top: 60px;
}
/*.block-title {
	z-index: 10;
	text-align: center;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

.block-title h2{
	font-size: 25px;
	font-weight: 300;
	color: gray;
}

.block-title h1{
	font-size: 60px;
	color: white;
	font-weight: 300;
}
*/

/* Events
--------------------------------------------------------------------
*/


.block-m {
	background-image: url("../img/mainbg.jpg");	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1;
	flex-wrap: wrap;
	text-align: left;
	position: relative;
	padding: 40px;
}


.fade-m{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .7;
	position: absolute;
	z-index: 1;
}

.event-title{
	font-weight: 600;
	font-size: 20px;
}

.event-description {
	width: 80%;
	color: white;
}

.event-description p{
	margin: 0;
}

.navbar-events{
	background-color: black;
	height: 20vh;
	width: 100%;
}

.navbar-logo{
	height: 40px;
	float: right;
	display: block;
	position: relative;
	top: -12px;
}

.back-button{
	float: left;
	color: gray;
	font-size: 20px;
	text-decoration: none;
	display: block;
}

.back-button:hover{
	color: #7F0052;
}

.event-list{
	height: 80vh;
}
.event-list > .row{
	height: 50%;
}
.block-content {
	position: relative;
	z-index: 10;
	color: #fff;
}
/*.col-md-3 {
	flex-grow: 3;
}
.col-md-9 {
	flex-grow: 9;
	padding-top: 10px;
}*/
.navbar {
	padding: 5% 2%;
}

.number{
	font-size: 40px;
}


.block-content .row{
	display: flex;
	margin-top: 10px;
}

.block-m:hover .fade-m{
	background-color: #7F0052;
	cursor: pointer;
}

/*.col-md-4{
	flex-grow: 4;
}

.col-md-8{
	flex-grow: 9;
}

.col-md-2{
	flex-grow: 1;
}

.col-md-10{
	flex-grow: 11;
}*/

.navbar{
	height: 20vh;
	width: 100%;
	position: absolute;
	z-index: 999;
}

.main{
	position: relative;
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
	background: black url(../img/mainbg.jpg) center center no-repeat;
	background-size: cover;
	text-align: center;
}

.main-logo{
	position: relative;
	z-index: 10;
	width: 50%;
	margin:auto;
	padding-top: 200px;
}

.main-logo img{
	width: 80%;
}

.brands {
	padding: 3% 5%;
}
.brands img{
	display: block;
	width: 40%;
}

