*{
	box-sizing: border-box;
}
body{
	font-family: 'Helvetica', sans-serif;
}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.bg-black{
	background-color: #000;
	color:#fff;
	width: 100%;
}

.container{
	display: flex;
}

.logo{
	position: relative;
	z-index: 10;
	width: 20%;
	top:0;
	right: 0;
	text-align: right;
	margin-left: 70%;
	margin-top: 10px;
}

.block-1{
	background-image: url("../img/mainbg.jpg");
}
.block-1,.block-2 {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1;
	height: 100vh;
	text-align: center;
}
.block-2{
	background-image: url("../img/mainbg.jpg");
}

.block-img {
	display: block;
	width: 100%;
}
.fade {
	width: 50%;
	height: 100vh;
	position: absolute;
	top: 0;
	opacity: .7;
}
.fade-bb{
	left: 0;
	background-color: black;
}
.fade-bp{
	right: 0;
	background-color: #7F0052;
}

.title{
	position: relative;
	color: white;
	z-index: 10;
	text-align: center;
	width: 100%;
	margin-top: 0;
	margin-bottom: 0;
}


.mini-title{
	position: relative;
	color: gray;
	z-index: 10;
	width: 100%;
	margin-bottom: 0;
	margin-top: 0;
	text-align: center;
}

.content {
	padding-top: 40%;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}
h1{
	font-weight: 100;
	font-size: 70px; 
}

h2{
	font-weight: 100;
	font-size: 30px;
}
.b{padding-right: 14px; }
.p{padding-left: 64px; }

p{
	margin: 0;
}

.block-m{
	background-image: url("../img/mainbg.jpg");	
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	flex: 1;
	flex-wrap: wrap;
	text-align: left;
	position: relative;
	padding: 40px;
}

.row{
	display: flex;
}

.blck{
	background-color: black;
}

.fade-m{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: .7;
	position: absolute;
	z-index: 1;
}



.event-title{
}

.event-title h2 {
	font-weight: 500;
	font-size: 23px;
	color: white;
}

.event-description {
	width: 80%;
	color: white;
}

.event-description p{
	margin: 0;
}

.navbar {
	background-color: black;
	height: 20vh;
	width: 100%;
}

.navbar-logo{
	height: 40px;
	float: right;
}

.back-button{
	float: left;
	color: gray;
	font-size: 20px;
	text-decoration: none;
}

.back-button:hover{
	color: #7F0052;
}

.event-list{
	height: 80vh;
}
.event-list > .row{
	height: 50%;
}
.block-content {
	position: relative;
	z-index: 10;
	color: #fff;
}
.col-md-3 {
	flex-grow: 3;
}
.col-md-9 {
	flex-grow: 9;
}
.navbar {
	padding: 5% 2%;
}

